#img-circle {
    position: fixed;
    border-radius: 50%;
    background: #EEE;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: none;
    z-index:10000;
    bottom:27px;
    right:64px;
    transition: right 1s;
}

.tooltip{
  font-size: 15px;
}

#img-circle{
  cursor:pointer;
}


#chatContent{
  position: relative;
}



