#img-circle {
    position: fixed;
    bottom: 45px;
    right: 5px;
    z-index: 9999;
    border-radius: 50%;
    background: #EEE;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: none;
}

.tooltip{
  font-size: 15px;
}

#img-circle{
  cursor:pointer;
}


#chatContent{
  position: relative;
}

.tooltip-inner{
    float: right;
    position: absolute;
    right: 5px;
    top: -10px;
}

